@model UpdateBookingDto
@{
    ViewData["Title"] = "UpdateBooking";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Rezervasyon İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title"> Rezerevasyon Güncelleme</div>
                        </div>
                        <input type="hidden" asp-for="Id" />
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">Kategori Adını Giriniz</label>
                                <input type="text" class="form-control" asp-for="Name" id="categoryname">

                            </div>

                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Name">Ad Soyad</label>
                                <input type="text" class="form-control" asp-for="Name" id="Name">

                            </div>

                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="PhoneNumber">Telefon Numarası</label>
                                <input type="text" class="form-control" asp-for="PhoneNumber" id="PhoneNumber">

                            </div>

                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Mail">Mail</label>
                                <input type="text" class="form-control" asp-for="Mail" id="Mail">

                            </div>

                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="PersonCount">Kişi Sayısı</label>
                                <input type="text" class="form-control" asp-for="PersonCount" id="PersonCount">

                            </div>

                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Date">Rezervasyon Tarihi</label>
                                <input type="text" class="form-control" asp-for="Date" id="Date">

                            </div>

                        </div>
                        <div class="card-action">
                            <button class="btn btn-warning">Rezervasyon Güncelle</button>

                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

